<div class="sidebar">
  <p class="sidebar-text"><b>Like what we're doing here at Camping Checklist?</b> You can help us out by spreading the word to your friends on any of the below social networks.</p>
  <div class="social-button">
    <su:badge layout="1" location="http://www.campingchecklist.me"></su:badge>
  </div>
  <div class="social-button">
    <div class="fb-like" data-href="http://www.campingchecklist.me" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false" data-font="arial"></div>
  </div>
  <div class="social-button">
    <div class="g-plusone" data-size="medium" data-href="http://www.campingchecklist.me"></div>
  </div>
  <h3>Sites We Like</h3>
  <%= link_to "#{image_tag 'camping-recipes.jpg'} Camping Recipes".html_safe, 'http://www.campingrecipes.co', target: '_blank', class: 'liked-site' %>
  <%= link_to "#{image_tag 'price-search.png'} Camping Price Search".html_safe, 'http://www.campingpricesearch.com', target: '_blank', class: 'liked-site' %>
  <br />
  <script type="text/javascript">
  //<![CDATA[
  document.write('<script type="text/javascript" src="http://www.avantlink.com/api.php?affiliate_id=31645&amp;module=AdSearch&amp;website_id=128581&amp;merchant_id=10248&amp;ad_type=image&amp;image_width=300&amp;search_results_count=1&amp;search_results_options=_blank&amp;integration_type=standard&amp;show_ad_relevance=0&amp;output=js&amp;context_url=' + encodeURIComponent(location.href) + '">');
  document.write('</' + 'script>');
  //]]>
  </script>
  <script type="text/javascript">
  //<![CDATA[
  document.write('<script type="text/javascript" src="http://www.avantlink.com/api.php?affiliate_id=31645&amp;module=AdSearch&amp;website_id=128581&amp;merchant_id=10060&amp;ad_type=image&amp;image_width=300&amp;search_results_count=1&amp;search_results_options=_blank&amp;integration_type=standard&amp;show_ad_relevance=0&amp;output=js&amp;context_url=' + encodeURIComponent(location.href) + '">');
  document.write('</' + 'script>');
  //]]>
  </script>
  <script type="text/javascript">
  //<![CDATA[
  document.write('<script type="text/javascript" src="http://www.avantlink.com/api.php?affiliate_id=31645&amp;module=AdSearch&amp;website_id=128581&amp;ad_type=image&amp;image_width=300&amp;search_results_count=1&amp;search_results_options=_blank&amp;integration_type=standard&amp;show_ad_relevance=0&amp;output=js&amp;context_url=' + encodeURIComponent(location.href) + '">');
  document.write('</' + 'script>');
  //]]>
  </script>
</div>
